# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore.

.gcloudignore
.git
.gitignore
README.md
DesignDoc/
Doc/

# Node.js / Next.js
node_modules/
.next/
out/
build/

# Python Virtual Environments & Caches
.venv/
venv/
env/
__pycache__/

# Logs & OS Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store