[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
mkdocs = "*"
mkdocs-material = "*"
fontawesome-markdown = "*"
pymdown-extensions = "*"

[requires]
python_version = "3.14"

[dev-packages]
autopep8 = "*"
