    body {
        margin: 0;
        color: #FFF7D6;
        font-family: 'Yu Gothic', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 20px;
        background-color: #295358;
    }
    
    h1 {
        color: #FFF7D6;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .describe {
        width: 70vw;
    }
    
    textarea {
        color: black;
        font-size: 1rem;
        width: 70vw;
        height: 10em;
    }
    
    input {
        color: #FFF7D6;
        font-size: 1.15rem;
        background-color: #00BE96;
        width: 70.5vw;
        height: 3em;
    }
    
    .graph {
        background-color: white;
        width: 70vw;
    }
    
    a {
        color: aquamarine;
    }
    
    dummy {
        color: rgb(220, 255, 20)
    }