    body {
        margin: 0;
        color: white;
        font-family: 'Yu Gothic', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 18px;
        background-color: #791FFF;
    }
    
    h1 {
        color: #ffffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    input {
        color: #FFFFFF;
        font-size: 30px;
        background-color: #64DB8F;
    }
    
    textarea {
        color: black;
        font-size: 20px;
    }
    
    .graph {
        background-color: rgb(255, 255, 255);
        margin: 3%;
        width: 65em;
    }
    
    a {
        color: aquamarine;
    }
    
    dummy {
        color: rgb(220, 255, 20)
    }